<!--<h2>Counter : {{counter()}}</h2>

<br><br>-->

<!--<h2>Double Counter : {{doubleCounter()}}</h2>-->

<!--<button (click)="logDoubleCounterValue()">Log Double Counter Value</button>

<button (click)="setValue()">Set Value</button>

<button (click)="incrementValue()">Increment Value</button>

<button (click)="decrementValue()">Decrement Value</button>-->

<!--<button (click)="logOddNumbers()">Log Odd Number</button>
<button (click)="updateNumbers()">Update Numbers</button>-->

<button (click)="incrementValue()">Increment Value</button>
<button (click)="getCondionalCount()">Get Conditional Count</button>
<button (click)="updateShowCount()">Update Show Count</button>