<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']" routerLinkActive="active">User</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      @if (isUserAdded) {
      <h1>User Added</h1>
      }

      <router-outlet />
    </div>
  </div>
</div>