<div class="container d-flex flex-column align-items-center justify-content-center vh-100">
  <h1>User Details</h1>
  <form (ngSubmit)="onSubmit()" class="w-50 mt-5" #f="ngForm">
    <button type="button" class="btn btn-primary w-100 mb-4" (click)="setData()">Fill Data</button>
    @if(userData.invalid && userData.touched) {
    <div class="mb-4 text-danger">
      User data is invalid
    </div>
    }
    <div ngModelGroup="userData" #userData="ngModelGroup">
      <input class="form-control" type="text" placeholder="Name" name="name" ngModel #name="ngModel" required
        (keyup)="keyUp(name)" [class.is-invalid]="name.invalid && name.touched" minlength="3" maxlength="10">

      <div class="mb-4 text-danger">
        @if(name.hasError('required')&& name.touched) {
        Name is required
        }
        @if(name.hasError('minlength')&& name.touched) {
        Name should have at least 3 characters
        }
      </div>

      <input class="form-control" [class.is-invalid]="email.invalid && email.touched" type="text" placeholder="Email"
        name="email" ngModel #email="ngModel" required minlength="3" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
        (keyup)="keyUp(email)">
      <div class="mb-4 text-danger">
        @if(email.hasError('required')&& email.touched) {
        Email is required
        }
        @if(email.hasError('minlength')&& email.touched) {
        Email should have at least 3 characters
        }

        <!--@if(email.hasError('email')&& email.touched) {
      Email is invalid
      }-->

        @if(email.hasError('pattern')&& email.touched) {
        Email is invalid
        }
      </div>
    </div>
    <textarea class="form-control" [class.ng-invalid]="address.invalid && address.touched" type="text"
      placeholder="Address" required ngModel #address="ngModel" name="address" ngModel></textarea>
    <div class="mb-4 text-danger">
      @if(address.hasError('required')&& address.touched) {
      Address is required
      }
    </div>
    <select class="form-select mb-4" aria-label="Default select example" ngModel="Male" #gender="ngModel" name="gender">
      <option selected>Select the gender</option>
      <option>Male</option>
      <option>Female</option>
    </select>
    <button type="submit" [disabled]="f.invalid" class="btn btn-primary w-100">Submit</button>
  </form>
</div>