<!--String Manipulation-->

<!--<h1>{{title | uppercase}}</h1>

<h1>{{title | lowercase}}</h1>

<h1>{{title | titlecase}}</h1>-->

<!--Number Pipes-->

<!--<h1>{{123456.89 | number}}</h1>

<h1>{{0.7 | percent}}</h1>

<h1>{{7000 | currency:'CAD' : 'code'}}</h1>-->

<!--Date Pipe-->

<!--<h1>{{today | date : 'yyyy/MMMM/dd'}}</h1>

<h1>{{today | date : 'hh:mm:ss a'}}</h1>-->

<!--JSON Pipe-->

<!--<h1>{{user | json}}</h1>-->

<!--Slice Pipe-->

<!--<h1>{{'Hello Angular World' | slice :6:13}}</h1>-->

<!--Chaining Pipes-->

<!--<h1>{{today | date | uppercase}}</h1>
<h1>{{'Hello Angular World' | slice :6:13 | lowercase | uppercase}}</h1>-->

<!--<h1>{{'Kamal' | shorten : 2 : 3 : 5}}</h1>
<h1>{{'Sam' | shorten : 1}}</h1>
<h1>{{'Chathuranga' | filter : 5}}</h1>-->

<input type="text" [(ngModel)]="searchValue" />
<button (click)="addUser()">Add User</button>

@for(name of names | filter : searchValue ;track $index ){
<h1>{{name}}</h1>
}